.btn{
    display: block;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    background-color: #ffb100;
    margin-top: 10px;
    cursor: pointer;
}
.answer{

}